<h1>Welcome to your Cookbook 📗</h1>

<p>You currently have in your cookbook:</p>

<ul>
  <% @recipes.each_with_index do |recipe, index| %>
    <li><%= recipe.name %>: <%= recipe.description %> | <%=recipe.prep_time%> | - <a href="/recipes/<%= index %>">Destroy</a></li>
  <% end %>
</ul>

<a href="/new">Add a recipe</a>
